@font-face{
    font-family: sfmedium;
    src: url(./font/SFPRODISPLAYMEDIUM.OTF);
}
@font-face{
    font-family: sfregular;
    src: url(./font/SFPRODISPLAYREGULAR.OTF);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}

body{
    color: rgb(227, 216, 216);
    background-color: black;
}