@font-face{
    font-family: sfmedium;
    src: url(./font/SFPRODISPLAYMEDIUM.OTF);
}
@font-face{
    font-family: sfregular;
    src: url(./font/SFPRODISPLAYREGULAR.OTF);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(227, 216, 216);
    overflow: hidden;
    background-color: transparent;
}
svg{
    padding-top: 8px;
    padding: 0.3rem;
    margin: 3px;
}
body{
    font-family: sfregular;
    background-color: black;
}
header{
    height: 46px;
    width: 100%;
    padding: 8px 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #1b1b1b;
}
.left_header{
    min-width: 238px;
    margin-left: 15px;
    padding-right: 30px;
}
.left_header-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(227, 216, 216);
}
.logo{
    height: 32px;
    width: 37px;
    padding: 0.4rem;
    padding-right: 0;
    margin: 5px;
}
.logo_text{
    font-size: 26px;
    padding: 0.4rem;
    padding-left: 0;
    margin: 5px;
}
.center_header{
    display: flex;
}
.container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center1{
    width: 80%;
    padding-left: 5px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.search_container{
    width: 62%;
    min-width: 680px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282a2c;
}
.search-btn{
    padding: 0.2rem;
    margin: 1px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.search_bar{
    height: 40px;
    width: 90%;
    font-size: larger;
    outline: none;
}
.adv_search{
    padding: 0.2rem;
    margin: 1px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.center2{
    width: 10vw;
    padding: 5px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ready_for_offline, .support, .setting, .google_apps, .account{
    padding: 0.3rem;
    margin: 2px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.ready_for_offline:hover, .support:hover , .setting:hover , .google_apps:hover, .account:hover, .search-btn:hover, .adv_search:hover{
    background-color: rgba(82, 87, 90, 0.914);
    height: 50px;
}
.right_header{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}