@font-face {
    font-family: sfmedium;
    src: url(./font/SFPRODISPLAYMEDIUM.OTF);
}

*{
    margin: 0;
    border: 0;
    color: rgb(129, 129, 129);
    font-family: sfmedium;
    background-color: black;
}